<div class="page-header">
  <div class="pull-right">
    <% if task_completed?(@task) %>
      <%= link_to 'All', tasks_path %> | Incomplete
    <% else %>
      All | <%= link_to 'Incomplete', tasks_path(:completed=>"false") %>
    <% end %>
    <%= link_to 'New Task', new_task_path, class: "btn btn-info" %>
  </div>
  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete</th>
      <th>Due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="col-md-5"><%= task.description %></td>
      <td class="col-md-2"><%= task.completed %></td>
      <td class="col-md-2"><%= task.due_date %></td>
      <td><%= link_to 'Show', task, class: "btn btn-success" %></td>
      <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %></td>
      <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Download CSV list', tasks_path(format: :csv), class: "btn btn-info" %>
