<div class="page-header">
  <div class="pull-right">
    <% if params[:completed] == "false" %>
      <%= link_to 'All', project_tasks_path(@project) %> | Incomplete
    <% else %>
      All | <%= link_to 'Incomplete', project_tasks_path(@project, {:completed=>"false"}) %>
    <% end %>
    <%= link_to 'New Task', new_project_task_path(@project), class: "btn btn-info" %>
  </div>
  <h1>Tasks for <%= @project.name %></h1>
</div>

<ol class="breadcrumb col-md-12">
  <li>
    <%= link_to "Projects", projects_path %>
  </li>
  <li>
    <%= link_to @project.name, project_path(@project) %>
  </li>
  <li class="active">
    Tasks
  </li>
</ol>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Description", project_tasks_path(@project, {order_description: true, completed: params[:completed]}) %></th>
      <th><%= link_to "Complete", project_tasks_path(@project, {completed: "true"}) %></th>
      <th><%= link_to "Due", project_tasks_path(@project, {order_due_date: true, completed: params[:completed]}) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="col-md-5"><%= task.description %></td>
      <td class="col-md-2"><%= task.completed %></td>
      <td class="col-md-2"><%= task.due_date %></td>
      <td><%= link_to 'Show', project_task_path(@project, task), class: "btn btn-success", id: "show-task-#{task.id}-action" %></td>
      <td><%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info" %></td>
      <td><%= link_to 'Delete', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Download CSV list', project_tasks_path(@project, format: :csv), class: "btn btn-info" %>
