<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>Due Date:</strong>
  <%= @task.due_date %>
</p>
<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project) %>
