<div class="well">
  <%= form_for(@user, html: {class: "form-group"}) do |f| %>

    <div class="form-group">
        <%= f.label :first_name, class: "col-sm-1 control-label" %>
        <div class="col-sm-6">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :last_name, class: "col-sm-1 control-label" %>
        <div class="col-sm-2">
          <%= f.date_field :last_name, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :email, class: "col-sm-1 control-label" %>
        <div class="col-sm-2">
          <%= f.date_field :email, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-1">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to 'cancel', tasks_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
