<div class="well col-md-4 col-md-offset-4">
  <h1>Sign into gCamp</h1>

<div class="form-group">
  <%= form_tag signin_path do |f| %>

    <% if @sign_in_error %>
      <p>
        <%= @sign_in_error %>
      </p>
    <% end %>

    <div class="form-group">
      <%= label_tag :email %>
    </div>
    <div>
      <%= email_field_tag :email %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= label_tag :password %>
      </div>
      <div>
        <%= password_field_tag :password %>
      </div>
    </div>


    <div class>
      <%= submit_tag "Sign in", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>

</div>
