<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit", edit_project_path, class: "btn btn-info" %>
    <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
  </div>
  <h1><%= @project.name %></h1>
</div>

<ol class="breadcrumb col-md-12">
  <li>
    <%= link_to "Projects", projects_path %>
  </li>
  <li class="active">
    <%= @project.name %>
  </li>
</ol>

<p>
  <%= link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project) %>
</p>

<p>
  <%= link_to "#{@project.users.count} Members", project_memberships_path(@project) %>
</p>
