<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "gCamp", root_path, class: "navbar-brand" %>
      </div>
    </div>
  </nav>

  <%= yield %>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container container-fluid">
      <div class="navbar-header">
        <h4>
          <%= link_to 'About', about_path %> |
          <%= link_to 'Terms', terms_path %> |
          <%= link_to 'Tasks', tasks_path %> |
          <%= link_to 'FAQ', faq_path %>
        </h4>
      </div>
    </div>
  </nav>

</body>

</html>
