<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="row container-fluid col-md-offset-1">
      <h4><%= link_to 'gCamp', root_path %></h4>
    </div><!-- /.container-fluid -->
  </nav>

  <%= yield %>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid col-md-offset-1">
      <div class="navbar-header">
        <h4>
          <%= link_to 'About', about_path %> |
          <%= link_to 'Terms', terms_path %>
        </h4>
      </div>
    </div>
  </nav>

</body>

</html>
