<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "gCamp", root_path, class: "navbar-brand" %>
      </div>
    </div>
  </nav>

  <% if notice %>
    <p id="notice" class="container alert alert-success text-center"><%= notice %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <hr>
  <div class="container">
    <footer>
      <p>
        <%= link_to 'About', about_path %> |
        <%= link_to 'Terms', terms_path %> |
        <%= link_to 'Tasks', tasks_path %> |
        <%= link_to 'FAQ', faq_path %>
      </p>
    </footer>
  </div>

</body>

</html>
